{% extends "base.html" %}

{% block content %}
<div class='row'>
	<div class='columns large-12'>
		<dl class='sub-nav'>
			<dt>Upload source:</dt>
			<dd {% if source == "browser" %}class="active"{% endif %}><a href='{{ url_for("upload.from_browser") }}'>Browser</a></dd>
			<dd {% if source == "upload_dir" %}class="active"{% endif %}><a href='{{ url_for("upload.from_uploaddir") }}'>Upload dir</a></dd>
		</dl>
	</div>

	<div class='columns large-12'>
		{% block upload_form %}
		{% endblock upload_form %}
	</div>
</div>
{% endblock content %}
