{% extends "upload/dashboard.html" %}

{% block upload_form %}
<form method='POST' action='{{ url_for("upload.save") }}' id='from-browser-form'>
	<input type='hidden' name='filename' value=''>
	<div class='row'>
		<div class='columns large-12'>
			<div id='dropzone'>
				<div class='placeholder'>
					Drop image here or click to select.
				</div>
			</div>

			<div class='hide'>
				<input type='file' name='upload_file'>
			</div>

			<div class='progress radius'>
				<span class='meter' style="width:0"></span>
			</div>
		</div>
	</div>

	<div class='row'>
		<div class='columns large-10 large-offset-1'>
			<label for='input_title'>
				Title:
			</label>
			<input type='text' placeholder='Title' name='title'>
		</div>
	</div>

	<div class='row'>
		<div class='columns large-10 large-offset-1'>
			<label for='input_tags'>
				Tags:
			</label>
			<input type='text' placeholder='Tags' name='tags' style='width:100%'>
		</div>
	</div>

	<div class='row'>
		<div class='columns large-12 form-close'>
			<button class='small button radius save'>Save</button>
			<button class='small button radius secondary cancel'>Cancel</button>
		</div>
	</div>
</form>
{% endblock upload_form %}

{% block styles %}
	<style>
		#dropzone {
			width: 100%;
			height: 450px;
			border: 1px solid rgb(204,204,204);
		}

		#dropzone div.placeholder {
			text-align: center;
			font-style: italic;
			font-weight: 600;
			color: #aaa;
			line-height: 450px;
		}

		#dropzone img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.form-close {
			text-align: center;
			margin-top: 15px;
		}

		.drag-enter {
			background: rgb(240, 240, 240);
		}
	</style>
{% endblock styles %}

{% block scripts %}
<script src='{{ url_for("static", filename="js/tagallery-upload.js") }}'></script>
<script>
	$(function () {
		disableSave();		/* because there is no image yet */
		$('input[name="tags"]').select2({
			tags: true,
			tokenSeparators: [','],
			multiple: true,
			createSearchChoice: function (term, data) {
				if ($(data).filter(function () {
					return this.text.localeCompare(term) === 0;
				}).length === 0) {
					return {
						id: term,
						text: term
					}
				}
			}
		});

		$('#dropzone')
			.on('click', function () {
				$('input[name="upload_file"]').click();
			})
			.on('dragover', function (ev) {
				$(this).addClass('drag-enter');
				ev.preventDefault();
				ev.stopPropagation();
			})
			.on('dragend', function (ev) {
				$(this).removeClass('drag-enter');
				ev.preventDefault();
				ev.stopPropagation();
			})
			.on('drop', function (ev) {
				$(this).removeClass('drag-enter');
				ev.preventDefault();
				disableSave();
				uploadFiles(ev.originalEvent.dataTransfer.files,
							"{{ url_for('upload.upload_file') }}",
							postUpload);
			});

		$('input[name="upload_file"]').on('change', function () {
			disableSave();
			uploadFiles($(this).get(0).files,
			            "{{ url_for('upload.upload_file') }}",
						postUpload);
		});
	});
</script>
{% endblock scripts %}

{# vim:set ft=jinja: #}
