{% extends "base.html" %}

{% macro _image(thumbnail_url=None, klass=None) %}
	<div class='{% if klass %}{{ klass }}{% endif %} holder'>
		<form method='POST' action='{{ url_for("upload.save") }}'>
			<input type='hidden' name='filename' value=''>

			<div class='row'>
				<div class='small-12'>
					<div class='image-title'>
					</div>
				</div>
			</div>

			<div class='image'>
			</div>

			<div class='row'>
				<div class='small-12 columns'>
					<div class='progress radius success invisible'>
						<span class='meter'></span>
					</div>
				</div>
			</div>

			<div class='row'>
				<div class='small-2 columns'>
					<label class='right inline'>Title</label>
				</div>

				<div class='small-10 columns'>
					<input type='text' placeholder='Title' value='' name='title'>
				</div>
			</div>

			<div class='row'>
				<div class='small-2 columns'>
					<label class='right inline'>Tags</label>
				</div>

				<div class='small-10 columns'>
					<input type='text' placeholder='Tags' value='' name='tags'>
				</div>
			</div>

			<div class='row'>
				<div class='small-9 small-offset-3 columns form-close'>
					<button class='tiny button radius save'>Save</button>
				</div>
			</div>
		</form>
	</div>
{% endmacro %} {# _image #}

{% block content %}
<div id='upload'>
	{{ _image(klass="template hide") }}
	{# {{ _image(klass="new") }} #}
</div>
{% endblock content %}

{% block styles %}
<style>
#upload {
	height: 600px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

#upload div.holder {
	display: inline-block;
	width: 400px;
	/* margin-right: 15px; */
	padding: 5px;
}

#upload div.holder.just-uploaded {
	background: #baffff;
}

#upload div.holder div.image-title {
	font-weight: 700;
	text-align: center;
	margin-bottom: 3px;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 390px;
}

#upload div.holder div.image {
	display: block;
	/* border: 1px dashed gray; */
	height: 290px;
	width: 390px;
	margin-bottom: 10px;
}

#upload div.holder.new div.image {
	border: 1px dashed gray;
}

#upload div.holder .progress {
	height: 10px;
	padding: 1px;
}

#upload div.image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

#upload div.hide {
	display: none !important;	/* foundation doesn't make this important */
}

#upload div.form-close {
	text-align: center;
}

#upload .invisible {
	visibility: hidden;
}
</style>
{% endblock styles %}

{% block scripts %}
<script src='{{ url_for("static", filename="js/tagallery-upload.js") }}'></script>
<script>
	(function () {
		$('div.holder.new input[name="tags"]').select2({
			tags: true,
			tokenSeparators: [','],
			multiple: true,
			createSearchChoice: function (term, data) {
				if ($(data).filter(function () {
					return this.text.localeCompare(term) === 0;
				}).length === 0) {
					return {
						id: term,
						text: term
					}
				}
			}
		});

		var dropzone = addImage("Upload new", "");
		dropzone.classList.add('new');
		dropzone.ondragover = function () { return false; }
		dropzone.ondragend = function () { return false; }
		dropzone.ondrop = function (ev) {
			ev.preventDefault();
			uploadFiles(ev.dataTransfer.files, "{{ url_for("upload.upload_file") }}");
		}

		getQueue('{{ url_for("upload.queue") }}');
	})();
</script>
{% endblock scripts %}
