{% extends "base.html" %}

{% block content %}
<form action='{{ url_for("users.make_login") }}' method='POST'>
	<div class='row'>
		<div class='columns large-offset-3 large-6'>
			<label for='input-username'>Login:</label>
			<input type='text' placeholder='Login' id='input-username' name='username' value='{{ username }}'>
		</div>
	</div>

	<div class='row'>
		<div class='columns large-offset-3 large-6'>
			<label for='input-password'>Password:</label>
			<input type='password' placeholder='Password' id='input-password' name='password'>
		</div>
	</div>

	<div class='row'>
		<div class='columns large-offset-3 large-6'>
			<input type='submit' value='Login' class='button small radius expand'>
		</div>
	</div>
</form>
{% endblock content %}
