<!DOCTYPE html>

<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
	<head>
		<meta chatset='utf-8'>
		<meta name='viewport' content='width=device-width'>

		<title>Tagallery</title>

		<link rel='stylesheet' href='{{ url_for("static", filename="css/normalize.css") }}'>
		<link rel='stylesheet' href='{{ url_for("static", filename="css/foundation.min.css") }}'>
		<link rel='stylesheet' href='{{ url_for("static", filename="css/tagallery.css") }}'>
		<link rel='stylesheet' href='{{ url_for("static", filename="css/select2.css") }}'>

		<script src='{{ url_for("static", filename="js/vendor/custom.modernizr.js") }}'></script>
	</head>

	<body>
		<nav class='top-bar' data-topbar>
			<ul class='title-area'>
				<li class='name'>
					<h1><a href='/'>Tagallery</a></h1>
				</li>
			</ul>

			<section class='top-bar-section'>
				<ul class='left'>
					<li><a href='#'>All tags</a></li>
				</ul>

				<ul class='right'>
					{% if current_user.is_authenticated() %}
						<li class='has-dropdown'>
							<a href='#'>Logged as {{ current_user.login }}</a>
							<ul class='dropdown'>
								<li><a href='{{ url_for("upload.dashboard") }}'>Upload</a></li>
								<li><a href="#">Auto-tags</a></li>
								<li class='divider'></li>
								<li><a href='{{ url_for("users.logout") }}'>Logout</a></li>
							</ul>
						</li>
					{% else %}
						<li><a href='{{ url_for("users.show_login") }}'>Login</a></li>
					{% endif %}
				</ul>
			</section>
		</nav>

		{% block styles %}{% endblock styles %}

		{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class='row'>
						<div class='large-12 columns'>
							<div data-alert class='alert-box radius {{ category }}'>
								{{ message }}
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<div class='row'>
			<div class='large-12 columns'>
				<div id='content'>
					{% block content %}
					{% endblock content %}
				</div>
			</div>
		</div>

		<script src="{{ url_for("static", filename="js/vendor/jquery.js") }}"></script>
		<script src='{{ url_for("static", filename="js/foundation.min.js") }}'></script>
		<script src='{{ url_for("static", filename="js/select2.min.js") }}'></script>
		<script>$(document).foundation();</script>

		<script src='{{ url_for("static", filename="js/tagallery.js") }}'></script>

		{% block scripts %}{% endblock %}
	</body>
</html>

{# vim:set ft=htmldjango: #}
