{% extends "base.html" %}
{% block content %}
<ul id='images'>
</div>
{% endblock %}

{% block scripts %}
<script>
	var images = {{ total_images }};
	var size = {{ thumbnail_size }};

	$(function() {
		$(window).on('resize', function () {
			recalc(images, size);
		});
		recalc(images, size);
	});
</script>
{% endblock scripts %}
