<!doctype html>
<html>
	<head>
		<title>Tagallery</title>

		<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'></script>

		<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="style.css") }}'>
	</head>

	<body>
		<div id='header'>
			Tagallery
		</div>

		<div id='body'>
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
