nav.top-bar {
	margin-bottom: 10px;
}

div#content {
	width: 100%;
}

#images {
	list-style-type: none;
}

#images li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
}
